---
name: 'multi-arch images build'

on: push

jobs:
  multi-arch:
    runs-on: ubuntu-latest
    steps:
      - name: Add checkout action...
        uses: actions/checkout@v2

      - name: Configure QEMU action...
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Configure Docker Buildx...
        id: docker_buildx
        uses: docker/setup-buildx-action@master

      - name: Login to Quay.io...
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PWD }}

      - name: Build Multi-arch images...
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.docker_buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/ppc64le
          push: true
          no-cache: true
          tags: quay.io/rpsene/techu:latest-github-actions-v1
